/* Space Grotesk font  */
  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
  :root {
    --primary-color:#A7D7FF; 
    --light-color: #F5F5F5;
    --darker-contrast-color:#375F80;
    --dark-color: #333333  ;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
        display: flex;
      flex-direction: row;
      width: 100vw;
      height: 100vh;
      background-color: var(--dark-color);
      color: white;
  }

  /* Mobile first */

main {
  display: flex;
  flex-direction: row;
}
#quire-logo{
  width: 50px;
}
  nav {
    /* display: flex;
    flex-direction: column; */
  }
  
  .nav-container {
    /* display: flex;
    flex-direction: column; */
display: none;
background-color: var(--primary-color);
  }

  .nav-container-show {
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--darker-contrast-color);
  }


  .nav-link > i {
    color: var(--darker-contrast-color);
    font-size: 1rem;
    margin: 0.3rem;

  }
  .nav-output-container {
    /* display: flex;
    flex-direction: column; */
    /* display: none; */
    background-color: var(--primary-color);
  }

  .nav-output-container-show{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    min-width: 40%;
  }
  
  /* i {
    color: var(--darker-contrast-color);
    height: 20px;

  } */
 
  .main-output-container {
    height: 100vh;
    width: auto;
  }

  /* Floating control */



  .floating-control-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 3rem;
    min-height: 3rem;
    /* border-radius: */
    border: solid black
  }  
  
  /* .control-button {
    display: none;
  } */

  .note-card h3,
  .note-card p {
    max-width: 100px ;
    font-size: 1rem;
    color: var(--darker-contrast-color);
    margin: 0;
  }

  .note-card {
    max-width: 100% ;
    border-bottom: 2px solid var(--darker-contrast-color);
    height: 5rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.3rem;
    /* align-items: center; */
    overflow: hidden;
  }

  .card-content {
    width: 70%;
  }

  .delete-button {
    margin-top: 1rem;
  }


  .button {
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem;
  }

  .is-favorite{
    background-color: yellow;
  }