/* Space Grotesk font  */
  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
  :root {
    --primary-color:#A7D7FF; 
    --light-color: #F5F5F5;
    --darker-contrast-color:#375F80;
    --dark-color: #333333  ;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
        display: flex;
      flex-direction: row;
      width: 100vw;
      height: 100vh;
  }

  /* Mobile first */

main {
  display: flex;
  flex-direction: row;
}
#quire-logo{
  width: 50px;
}
  nav {
    /* display: flex;
    flex-direction: column; */
  }
  
  .nav-container {
    /* display: flex;
    flex-direction: column; */
display: none;
  }

  .nav-container-show {
    display: flex;
    flex-direction: column;
  }

  .nav-output-container {
    /* display: flex;
    flex-direction: column; */
    display: none;
  }

  .main-output-container {
    height: 100vh;
    width: 100vw;
  }

  /* Floating control */



  .floating-control-menu {
    max-width: 3rem;
    min-height: 3rem;
    /* border-radius: */
    border: solid black
  }  
  
  .control-button {
    display: none;
  }

  .control-buttons-show {
 display: initial;

  }