.toolbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(59, 59, 59, 0.879);
    padding: 3px 5px;
    border-radius: 3px;
  
  }
  
  .contain-toolbar {
    display: flex;
  }
  
  .keep-height {
    height: 27px;
  }
  
  .toolbar > button {
    width: 30px;
    text-align: center;
    padding: 0 5px;
  }
  
  /* .note-div {
    background: rgba(233, 233, 233, 0.523);
    width: 500px;
    height: 500px;
    border: 0;
    outline: 0;
    padding: 0.5rem;
  }
   */
  .bold {
    font-weight: 900;
  }
  
  .pressed {
    background-color: greenyellow;
  }
  
  .absolute {
    position: absolute;
    display: none;
  }