.welcome-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  background-color: #375F80;
  padding: 1rem;
  border-radius: 10px;
  width: 60%;
  clip-path: circle(0% at 95% 5%);
  transition: clip-path 2s;
  position: relative;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.7);
}

.welcome-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: color .5s ease;
}

.welcome-close:hover {
  color: white;
}

.animate {
  clip-path: circle(75%);
}

.welcome-container>h4 {
  padding: 0;
  margin-top: 0;
  color: white;
}

.welcome-container>p {
  font-size: 0.8rem;
  color: white;
}