.welcome-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  background-color: #00B6FF;
  padding: 1rem;
  border-radius: 10px;
  width: 30%;
  clip-path: circle(0% at 5% 5%);
  transition: clip-path 1s;
  position: relative;
}

.animate {
  clip-path: circle(75%);
}

.welcome-inner>h4 {
  padding: 0;
  color: white;
}

.welcome-inner>p {
  font-size: 0.8rem;
  color: white;
}